<div
  class="ui-card"
  [class.ui-card-elevated]="elevated"
  [style.borderRadius.px]="borderRadius"
>
  @if (title) {
    <div class="ui-card-header">
      <h3>{{ title }}</h3>
      @if (subtitle) {
        <p>{{ subtitle }}</p>
      }
    </div>
  }
  <div [style.padding.px]="padding">
    @if (content) {
      {{ content }}
    }
    @for (child of children; track child.id) {
      <app-schema-element
        [element]="child"
        [elements]="children"
      ></app-schema-element>
    }
  </div>
</div>
