<div [class]="getCardClasses()">
  <ng-container *ngIf="title || subtitle">
    <div [class]="getContentClasses()">
      <h3 *ngIf="title" class="text-base font-semibold text-on-surface mb-1">
        {{ title }}
      </h3>
      <p *ngIf="subtitle" class="text-xs text-on-surface-variant">
        {{ subtitle }}
      </p>
    </div>
  </ng-container>
  <ng-container *ngIf="children && children.length > 0">
    <div [class]="getContentClasses()">
      <ng-container *ngFor="let child of children; trackBy: trackById">
        <app-schema-element [element]="child" />
      </ng-container>
    </div>
  </ng-container>
</div>
