<table class="ui-data-table">
  <thead>
    <tr>
      @if (selectable) {
        <th class="ui-data-table-checkbox"></th>
      }
      @for (col of parsedColumns; track col.key) {
        <th>{{ col.name }}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (row of parsedData; track row; let idx = $index) {
      <tr
        class="ui-data-table-row"
        [class.ui-data-table-row-selected]="selectedIndex === idx"
        (click)="selectRow(idx)"
      >
        @if (selectable) {
          <td>
            <span
              class="ui-data-table-checkbox-dot"
              [class.ui-data-table-checkbox-dot-selected]="
                selectedIndex === idx
              "
            ></span>
          </td>
        }
        @for (col of parsedColumns; track col.key) {
          <td>{{ row[col.key] }}</td>
        }
      </tr>
    }
  </tbody>
</table>
