<div class="ui-pagination">
  <div class="ui-pagination-info">
    <span>
      Showing
      <span>{{ startIndex }}</span
      >-<span>{{ endIndex }}</span> of
      <span>{{ totalItems }}</span>
    </span>
    <div class="ui-pagination-size">
      <span>Rows per page:</span>
      <select
        [value]="pageSize"
        (change)="onPageSizeChange(+$any($event.target).value)"
      >
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
  </div>

  <div class="ui-pagination-controls">
    <button [disabled]="!hasPrevPage" (click)="firstPage()" title="First page">
      <app-icon icon="first_page" [size]="18" />
    </button>
    <button
      [disabled]="!hasPrevPage"
      (click)="prevPage()"
      title="Previous page"
    >
      <app-icon icon="chevron_left" [size]="18" />
    </button>
    <span>Page {{ currentPage + 1 }} of {{ totalPages || 1 }}</span>
    <button [disabled]="!hasNextPage" (click)="nextPage()" title="Next page">
      <app-icon icon="chevron_right" [size]="18" />
    </button>
    <button [disabled]="!hasNextPage" (click)="lastPage()" title="Last page">
      <app-icon icon="last_page" [size]="18" />
    </button>
  </div>
</div>
