<div
  class="ui-canvas"
  [style.--grid-cols]="designer.gridColumns.toString()"
  [style.zoom]="designer.zoom() / 100"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave()"
  (drop)="onDrop($event)"
>
  @if (designer.showGrid()) {
    <div class="ui-canvas-grid">
      @for (cell of gridCells; track cell) {
        <div></div>
      }
    </div>
  }
  @if (elements.length > 0) {
    @for (el of elements; track el.id) {
      <div
        class="ui-canvas-element"
        [class.ui-canvas-element-selected]="designer.selectedId() === el.id"
        [class.ui-canvas-element-drop-target]="
          dropIndicator?.parentId === el.id
        "
        [style.gridColumn]="getGridColumn(el)"
        [style.gridRow]="getGridRow(el)"
        (click)="designer.selectElement(el.id)"
        (dblclick)="editElement(el)"
        draggable="true"
        (dragstart)="onElementDragStart($event, el)"
        (dragover)="onElementDragOver($event, el)"
        (dragleave)="onElementDragLeave(el)"
      >
        <span>{{ getIcon(el) }}</span>
        <span>{{ el.componentId }}</span>
        <span class="ui-canvas-element-id">{{ el.id }}</span>
        <button
          class="ui-canvas-element-delete"
          (click)="deleteElement($event, el.id)"
          title="Delete"
        >
          ×
        </button>
        @if (el.children?.length) {
          <div class="ui-canvas-element-children">
            {{ el.children!.length }} children
          </div>
        }
      </div>
    }
  } @else {
    <div class="ui-canvas-empty">
      <div>Drag components here</div>
    </div>
  }
  @if (dropIndicator && !dropIndicator.parentId) {
    <div
      class="ui-canvas-drop-indicator"
      [style.top.px]="dropIndicator.y"
    ></div>
  }
</div>
