<div class="ui-toast-item ui-toast-item-{{ type }}">
  @if (type === "success") {
  <i class="fa fa-circle-check"></i>
  } @else if (type === "error") {
  <i class="fa fa-circle-xmark"></i>
  } @else if (type === "warning") {
  <i class="fa fa-triangle-exclamation"></i>
  } @else {
  <i class="fa fa-circle-info"></i>
  }
  <span class="ui-toast-message">{{ message }}</span>
  <button class="ui-toast-close" type="button" (click)="handleClose()">
    <i class="fa fa-xmark"></i>
  </button>
</div>
