<div
  appApplyTheme="app-tooltip"
  class="inline-flex relative cursor-pointer"
  (mouseenter)="show = true"
  (mouseleave)="show = false"
  (focus)="show = true"
  (blur)="show = false"
  tabindex="0"
>
  <ng-content></ng-content>
  @if (show) {
    <div
      class="absolute z-50 px-3 py-1.5 rounded-md text-xs whitespace-nowrap shadow-md pointer-events-none tooltip-bubble bg-[var(--bg-elevated)] text-[var(--text-primary)] border border-[var(--border-color)]"
      [class.top]="!position || position === 'top'"
      [class.bottom]="position === 'bottom'"
      [class.left]="position === 'left'"
      [class.right]="position === 'right'"
    >
      {{ text || content }}
    </div>
  }
</div>
