<div
  class="ui-tooltip"
  (mouseenter)="show = true"
  (mouseleave)="show = false"
  (focus)="show = true"
  (blur)="show = false"
  tabindex="0"
>
  <ng-content></ng-content>
  @if (show) {
    <div
      class="ui-tooltip-bubble"
      [class.ui-tooltip-top]="!position || position === 'top'"
      [class.ui-tooltip-bottom]="position === 'bottom'"
      [class.ui-tooltip-left]="position === 'left'"
      [class.ui-tooltip-right]="position === 'right'"
    >
      {{ text || content }}
    </div>
  }
</div>
