<button
  [attr.type]="type || 'button'"
  class="ui-btn ui-btn-primary"
  [class]="classes"
  [disabled]="disabled || loading"
  (click)="handleClick($event)"
>
  @if (loading) {
    <span class="app-btn-spinner"></span>
  } @else {
    @if (icon && iconPosition === "left") {
      <app-icon class="app-btn-icon" [icon]="icon" [size]="20" />
    }
    @if (label) {
      <span>{{ label }}</span>
    } @else {
      <ng-content></ng-content>
    }
    @if (icon && iconPosition === "right") {
      <app-icon class="app-btn-icon" [icon]="icon" [size]="20" />
    }
  }
</button>
