<button
  [attr.type]="type || 'button'"
  class="ui-btn"
  [class.ui-btn-primary]="variant === 'primary'"
  [class.ui-btn-danger]="variant === 'danger'"
  [class.ui-btn-warning]="variant === 'warning'"
  [class.ui-btn-success]="variant === 'success'"
  [class.ui-btn-info]="variant === 'info'"
  [class.ui-btn-tonal]="variant === 'tonal'"
  [class.ui-btn-outlined]="variant === 'outlined'"
  [class]="classes"
  [disabled]="disabled || loading"
  (click)="handleClick($event)"
>
  @if (loading) {
    <span class="app-btn-spinner"></span>
  } @else {
    @if (icon && iconPosition === "left") {
      <app-icon class="app-btn-icon" [icon]="icon" [size]="20" />
    }
    @if (label) {
      <span>{{ label }}</span>
    } @else {
      <ng-content></ng-content>
    }
    @if (icon && iconPosition === "right") {
      <app-icon class="app-btn-icon" [icon]="icon" [size]="20" />
    }
  }
</button>
