:host {
  display: inline-flex;
  align-items: center;
}
.slider::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  left: 2px;
  top: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s;
}
.switch-checked .slider::before {
  transform: translateX(1.25rem);
}
input:disabled ~ .slider {
  opacity: 0.5;
  cursor: not-allowed;
}
