@if (open) {
  <div class="ui-modal-overlay" (click)="handleOverlayClick($event)">
    <div
      class="ui-modal ui-modal-{{ size }}"
      [style.width]="
        size === 'sm'
          ? '320px'
          : size === 'md'
            ? '480px'
            : size === 'lg'
              ? '640px'
              : '480px'
      "
    >
      <header class="ui-modal-header">
        <h3>{{ title }}</h3>
        <button class="ui-modal-close" (click)="close()" aria-label="Close">
          &times;
        </button>
      </header>
      <div class="ui-modal-body">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
}
