<div class="app-tabs" [class.app-tabs-vertical]="orientation === 'vertical'">
  <div
    class="app-tabs-list"
    [class.app-tabs-list-vertical]="orientation === 'vertical'"
  >
    @for (tab of tabs; track tab.id) {
      <button
        class="app-tab"
        [class.app-tab-active]="isActive(tab.id)"
        [class.app-tab-disabled]="tab.disabled"
        (click)="selectTab(tab.id, tab.disabled)"
      >
        @if (tab.icon) {
          <i class="material-icons app-tab-icon">{{ tab.icon }}</i>
        }
        <span>{{ tab.label }}</span>
      </button>
    }
  </div>
  <div class="app-tabs-content">
    <ng-content></ng-content>
  </div>
</div>
