@if (tag === "p") {
  <p
    class="ui-text"
    [style.lineHeight]="lineHeight || null"
    [style.letterSpacing]="letterSpacing || null"
    [style.whiteSpace]="whiteSpace || null"
    [title]="truncate && text ? text : ''"
  >
    {{ text }}
    <ng-content></ng-content>
  </p>
} @else {
  <span
    class="ui-text"
    [style.lineHeight]="lineHeight || null"
    [style.letterSpacing]="letterSpacing || null"
    [style.whiteSpace]="whiteSpace || null"
    [title]="truncate && text ? text : ''"
  >
    {{ text }}
    <ng-content></ng-content>
  </span>
}
