<div class="ui-designer-sidebar">
  <aside
    class="ui-designer-sidebar-panel"
    [class.ui-designer-sidebar-collapsed]="collapsed"
    [style.border-right]="
      position === 'left' ? '1px solid var(--border-color)' : 'none'
    "
    [style.border-left]="
      position === 'right' ? '1px solid var(--border-color)' : 'none'
    "
  >
    <div
      class="ui-designer-sidebar-header"
      [style.flex-direction]="position === 'right' ? 'row-reverse' : 'row'"
    >
      <span>{{ header }}</span>
    </div>
    <div class="ui-designer-sidebar-content">
      <ng-content select="[slot=content]"></ng-content>
    </div>
    <div class="ui-designer-sidebar-footer">
      <ng-content select="[slot=footer]"></ng-content>
    </div>
  </aside>
  <div
    class="ui-designer-sidebar-toggle"
    [style.right]="position === 'left' ? '-12px' : 'auto'"
    [style.left]="position === 'right' ? '-12px' : 'auto'"
  >
    <button (click)="toggleCollapse()">
      {{
        collapsed
          ? position === "left"
            ? "▶"
            : "◀"
          : position === "left"
            ? "◀"
            : "▶"
      }}
    </button>
  </div>
</div>
