<div class="ui-component-palette">
  <div class="ui-component-palette-header">
    <div>Components</div>
    @if (searchable) {
      <input
        type="text"
        placeholder="Search components..."
        [value]="searchQuery"
        (input)="onSearch($event)"
      />
    }
  </div>
  <div class="ui-component-palette-list">
    @for (cat of filteredCategories; track cat.name) {
      <div class="ui-component-palette-category">
        <div
          class="ui-component-palette-category-header"
          (click)="toggleCategory(cat.name)"
        >
          <span>{{ cat.name }}</span>
          <span
            class="ui-component-palette-chevron"
            [class.ui-component-palette-chevron-expanded]="
              !isCollapsed(cat.name)
            "
            >▼</span
          >
        </div>
        @if (!isCollapsed(cat.name)) {
          <div class="ui-component-palette-items">
            @for (comp of cat.components; track comp) {
              <div draggable="true" (dragstart)="onDragStart($event, comp)">
                {{ comp }}
              </div>
            }
          </div>
        }
      </div>
    }
  </div>
</div>
