<div class="app-radio-group">
  @for (option of options; track option.value) {
    <label
      class="app-radio"
      [class.app-radio-selected]="isSelected(option.value)"
      [class.app-radio-disabled]="option.disabled"
      (click)="selectOption(option.value, option.disabled)"
    >
      <span class="app-radio-dot">
        @if (isSelected(option.value)) {
          <span class="app-radio-dot-inner"></span>
        }
      </span>
      <span class="app-radio-label">{{ option.label }}</span>
    </label>
  }
</div>
