<div class="ui-input-group">
  @if (label) {
    <label>{{ label }}</label>
  }
  <div class="ui-input-wrap" [class.ui-input-focused]="focused">
    @if (icon) {
      <app-icon class="ui-input-icon" [icon]="icon" [size]="20" />
    }
    <input
      #inputEl
      [attr.type]="type"
      class="ui-input"
      [class.ui-input-with-icon]="!!icon"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [value]="value"
      (input)="handleInput($event)"
      (focus)="focused = true"
      (blur)="focused = false"
    />
  </div>
  @if (error) {
    <span class="ui-input-error">{{ error }}</span>
  }
</div>
