import { html } from "lit";

export function renderInputTemplate() {
  return html`
    <div class="app-input-wrapper">
      ${this.label
        ? html`<label class="app-input-label">${this.label}</label>`
        : ""}
      <div
        class="app-input-container ${this._focused
          ? "app-input-focused"
          : ""}"
      >
        ${this.icon
          ? html`<i class="material-icons app-input-icon">${this.icon}</i>`
          : ""}
        <input
          type="${this.type}"
          class="${this._getInputClasses()}"
          placeholder="${this.placeholder}"
          ?disabled="${this.disabled}"
          .value="${this._value}"
          @input="${this._handleInput}"
          @focus="${this._handleFocus}"
          @blur="${this._handleBlur}"
        />
      </div>
      ${this.error
        ? html`<span class="app-input-error-text">${this.error}</span>`
        : ""}
    </div>
  `;
}
